.payload {
  font-weight: bold;
}

.header {
  font-family: sans-serif;
  font-size: 2rem;
  text-align: left;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 20rem;
  background-color: mediumblue;
  border-bottom: 0.5rem solid red;
}