.header {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: left;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 20rem;
  background-color: #1b0088;
  border-bottom: 0.5rem solid red;
}

.flight-disclaimer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid;
  border-radius: 3px;
}

.flight-disclaimer .icon-int-circle {
  position: relative;
  top: 6px;
  width: 15px;
  font-size: .4em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.container {
  width: 70rem;
  padding: 2px 20px;
  margin: 0 10rem;
}

.loading {
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 30px;
}

.itinerary {
  background-color: rgb(15, 15, 241);
  font-family: sans-serif;
  text-align: left;
  color: white;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 20rem;
}

.route {
  font-size: 1.8rem;
}

.date {
  margin-top: 0.3rem;
  font-size: 1.5rem;
}

.bestprices {
  border-bottom: 0.1rem solid gray;
  border-left: 0.05rem solid rgb(163, 162, 162);
  border-right: 0.05rem solid rgb(163, 162, 162);
  display: flex;
}

.bestprice-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
  color: #1b0088;
}

.bestprice-container {
  width: 14.25%;
  padding: 14px 0 10px;
  color: #5c5c5c; 
  text-align: center;
  border-top: 0.01rem solid rgb(184, 183, 183);
  border-left: 0.01rem solid rgb(163, 162, 162);
  border-right: 0.01rem solid rgb(163, 162, 162);
}

.bestprice-date {
  font-size: 16px;
}

.bestprice-price {
  font-size: 14px;
}

.flight-top {
  margin-top: 1rem;
}

.flight-container{
  display: flex;
  width: 100%;
  height: 90px;
  border: 0.1rem solid rgb(177, 176, 176);
}

.flight-info{
  display: flex;
  text-align: center;
  padding: 0 10rem;
  vertical-align: middle;
}

.arrow {
  font-size: 23px;
  font-weight: bold;
  color: red;
}

.flight-info-time {
  font-size: 25px;
  font-weight: bold;
  color: rgb(112, 111, 111);
}

.flight-info-code {
  font-size: 25px;
  color: gray;
}

.flight-duration {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 16px;
}

.flight-price {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 25px;
  font-weight: bold;
  color: #5c5c5c;
  border-left: 1px solid gray;
  float: left;
}